@font-face {
  font-family: "cocogoose";
  src: url("../fonts/cocogoose/Cocogoose_trial.otf");
}

@font-face {
  font-family: "lato-light";
  src: url("../fonts/lato/Lato-Light.ttf");
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

$first-color: #272a31;
$second-color: #ec5242;
$third-color: #d3d3d3;
$fourth-color: #fcfcfc;
$cocogoose: "cocogoose", Arial, Helvetica, sans-serif;
$lato: "lato-light", Arial, Helvetica, sans-serif;

@mixin padding($padding-page) {
  padding: 25px $padding-page 80px $padding-page;
}

%padding-shared {
  @include padding(25px);
}

@media screen and (min-width: 768px) {
  %padding-shared {
    @include padding(120px);
  }
}

hr {
  width: 40px;
  border: 1px solid $second-color;
}

nav {
  padding: 20px 0;

  i[class$="fa-bars"] {
    margin-left: 35px;
    font-size: 40px;
    color: $first-color;
  }
}

#main_section {
  @extend %padding-shared;

  #main_title {
    font-size: 30px;
    font-family: $cocogoose;
    text-transform: uppercase;
    color: $second-color;
  }

  div {
    margin-top: 30px;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid $first-color;
    max-width: 500px;

    #main_description {
      font-family: $lato;
      line-height: 30px;
      color: $first-color;
    }
  }

  #date_festival {
    font-family: $cocogoose;
    color: $first-color;
    font-size: 20px;
  }
}

#daily_schedule {
  @extend %padding-shared;

  background-color: $first-color;
  display: flex;
  flex-direction: column;
  align-items: center;

  &_title {
    color: $fourth-color;
    font-family: $cocogoose;
    margin-bottom: 10px;
    width: fit-content;
    font-size: 26px;
  }

  #buy_tickets_button {
    border: none;
    background-color: $second-color;
    color: $fourth-color;
    padding: 30px 50px;
    font-family: $cocogoose;
    font-size: 16px;
  }
}

#schedule_grid {
  display: grid;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 30px;

  > article {
    background-color: #3b3e45;
    display: flex;
    align-items: center;
    height: 100px;

    > div {
      min-width: 200px;
      text-align: center;
      line-height: 30px;

      h3 {
        color: $second-color;
        font-family: $cocogoose;
      }

      p {
        color: $fourth-color;
        font-family: $cocogoose;
      }
    }

    span {
      height: fit-content;
      color: $fourth-color;
      font-family: $lato;
    }
  }

  @media screen and (min-width: 768px) {
    > article {
      flex-direction: column;
      height: 180px;
      text-align: center;
      justify-content: center;

      > div {
        min-width: 100px;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  #schedule_grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

#djs_list {
  @extend %padding-shared;

  display: flex;
  flex-direction: column;
  align-items: center;

  &_title {
    color: $first-color;
    font-family: $cocogoose;
    margin-bottom: 10px;
    width: fit-content;
    font-size: 26px;
  }
}

#djs_grid {
  display: grid;
  gap: 30px;
  margin-top: 20px;
  margin-bottom: 30px;

  article {
    display: flex;

    img[alt^="dj"] {
      max-height: 109px;
      border: 1px solid $first-color;
    }

    > div {
      padding-left: 20px;

      h2 {
        font-family: $cocogoose;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  #djs_grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
