@font-face {
  font-family: "cocogoose";
  src: url("../fonts/cocogoose/Cocogoose_trial.otf");
}

@font-face {
  font-family: "lato-light";
  src: url("../fonts/lato/Lato-Light.ttf");
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

$first-color: #272a31;
$second-color: #ec5242;
$third-color: #d3d3d3;
$fourth-color: #fcfcfc;
$cocogoose: "cocogoose", Arial, Helvetica, sans-serif;
$lato: "lato-light", Arial, Helvetica, sans-serif;

@mixin padding($padding-page) {
  padding-left: $padding-page;
  padding-right: $padding-page;
}

%padding-shared {
  @include padding(25px);
}

%title-shared {
  font-family: $cocogoose;
  margin-bottom: 10px;
  width: fit-content;
  font-size: 26px;
}

@media screen and (min-width: 768px) {
  %padding-shared {
    @include padding(120px);
  }
}

hr {
  width: 40px;
  border: 1px solid $second-color;
}

.first_navbar {
  @extend %padding-shared;

  display: none;

  a {
    color: $fourth-color;
    text-decoration: none;
    padding: 0 10px;
    font-family: $lato;
  }
}

.second_navbar {
  @extend %padding-shared;

  padding-top: 15px;
  padding-bottom: 20px;

  i[class$="fa-bars"] {
    margin-left: 10px;
    font-size: 40px;
    color: $first-color;
  }

  a {
    display: none;
    color: $first-color;
    text-decoration: none;
    font-family: $lato;
  }

  .logo {
    font-family: $cocogoose;
    font-size: 36px;
    color: $first-color;
  }

  ul {
    display: none;
    height: fit-content;

    li {
      padding: 10px 20px;
    }

    li:hover {
      background-color: $first-color;
      transition-duration: 0.5s;

      a {
        color: $fourth-color;
        transition-duration: 0.5s;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .first_navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 30px;
    background-color: $first-color;

    ul {
      display: flex;
    }
  }

  .second_navbar {
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;

    i[class$="fa-bars"] {
      display: none;
    }

    a {
      display: inline;
    }

    ul {
      display: flex;
    }
  }
}

.main_title {
  font-size: 44px;
  font-family: $cocogoose;
  text-transform: uppercase;
  color: $second-color;
  max-width: 900px;
}

.red_button {
  border: none;
  background-color: $second-color;
  color: $fourth-color;
  padding: 30px 60px;
  font-family: $cocogoose;
  font-size: 16px;
}

.red_button:hover {
  color: $first-color;
  transition-duration: 0.5s;
}

/* index.html file starts */

.main_section {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: $third-color;

  @extend %padding-shared;

  div {
    margin-top: 30px;
    margin-bottom: 15px;
    padding: 10px;
    border: 2px solid $fourth-color;
    max-width: 500px;

    .main_description {
      font-family: $lato;
      line-height: 30px;
      color: $first-color;
    }
  }

  .date_festival {
    font-family: $cocogoose;
    color: $first-color;
    font-size: 30px;
  }
}

.daily_schedule {
  padding-top: 50px;
  padding-bottom: 50px;

  @extend %padding-shared;

  background-color: $first-color;
  display: flex;
  flex-direction: column;
  align-items: center;

  &_title {
    @extend %title-shared;

    color: $fourth-color;
  }
}

.schedule_grid {
  display: grid;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 50px;

  > article {
    background-color: #3b3e45;
    display: flex;
    align-items: center;
    height: 100px;

    > div {
      min-width: 200px;
      text-align: center;
      line-height: 30px;

      h3 {
        color: $second-color;
        font-family: $cocogoose;
      }

      p {
        color: $fourth-color;
        font-family: $cocogoose;
      }
    }

    span {
      height: fit-content;
      color: $fourth-color;
      font-family: $lato;
    }
  }

  > article:hover {
    background-color: $second-color;
    transition-duration: 0.5s;

    h3 {
      color: black;
      transition-duration: 0.5s;
    }
  }

  @media screen and (min-width: 768px) {
    > article {
      flex-direction: column;
      height: 180px;
      text-align: center;
      justify-content: center;

      > div {
        min-width: 100px;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .schedule_grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 3px;
  }
}

.djs_list {
  @extend %padding-shared;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: $third-color;

  &_title {
    color: $first-color;

    @extend %title-shared;
  }
}

.djs_grid {
  display: grid;
  gap: 30px;
  margin-top: 20px;
  margin-bottom: 30px;

  &_item {
    display: flex;

    img[alt^="dj"] {
      max-height: 109px;
      border: 1px solid $first-color;
    }

    .djs_description {
      padding-left: 20px;

      h2 {
        font-family: $cocogoose;
        margin-bottom: 10px;
      }

      p {
        font-family: $lato;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .djs_grid {
    grid-template-columns: 1fr 1fr;
  }
}

/* index.html file ends */

/* tickets.html file starts */

%flex-shared {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.select_tickets {
  @extend %flex-shared;

  background-color: $third-color;

  @extend %padding-shared;

  padding-top: 30px;
  padding-bottom: 60px;

  &_title {
    @extend %title-shared;

    color: $first-color;
  }
}

.step {
  display: flex;
  align-items: center;
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid $first-color;
  margin-bottom: 30px;

  &_number {
    min-width: 90px;
    font-family: $cocogoose;
    color: $second-color;
    height: fit-content;
  }

  &_description {
    font-family: $lato;
  }
}

.step:hover {
  background-color: $second-color;
  transition-duration: 0.5s;

  .step_number {
    color: $first-color;
    transition-duration: 0.5s;
  }
}

.select_tickets_grid {
  display: grid;
  width: 100%;
  max-width: 800px;
  border: 5px dashed $second-color;
  grid-template-rows: 40px 40px 60px 60px;

  .select_tickets_row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-right: 1px solid black;
      border-bottom: 1px solid black;
      background-color: $fourth-color;
      font-family: $lato;
    }

    > div:last-child {
      border-right: none;
    }
  }

  .select_tickets_row:first-child {
    > div {
      background-color: inherit;
    }
  }
}

.several_days_ticket {
  grid-column: 3/5;
  line-height: 15px;
}

.ticket_price {
  font-family: $cocogoose;
  color: $second-color;
}

.select_lunch {
  @extend %flex-shared;
  @extend %padding-shared;

  padding-top: 40px;
  padding-bottom: 40px;

  &_tittle {
    @extend %title-shared;

    color: $first-color;
  }

  button {
    margin-top: 20px;
  }
}

.lunch_menu {
  width: 100%;
  margin: 20px 0;
  border: 1px solid $first-color;
}

.lunch_day {
  text-align: center;
  line-height: 30px;
  background-color: $third-color;
  height: 30px;
  font-family: $cocogoose;
}

.menu_options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  font-family: $lato;

  .option {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .menu_options {
    padding: 0 60px;
  }
}

/* tickets.html file ends */

/* about.html file starts */

.about_festival {
  @extend %flex-shared;
  @extend %padding-shared;

  text-align: center;
  padding-top: 80px;
  background-color: $third-color;
  font-family: $lato;
  padding-bottom: 60px;

  .main_title {
    margin-bottom: 30px;
  }

  .email {
    line-height: 40px;
    color: black;
    font-weight: 900;
  }
}

.info_festival_container {
  max-width: 900px;
  margin-top: 30px;
  margin-bottom: 50px;
  padding: 20px 40px;
  background-color: $fourth-color;
  line-height: 30px;
}

/* about.html file ends */

footer {
  @extend %padding-shared;

  display: flex;
  align-items: center;
  background-color: $first-color;
  height: 150px;

  .logo2 {
    font-family: $cocogoose;
    color: $fourth-color;
    font-size: 40px;
    text-decoration: none;
  }

  .rights_text {
    padding-left: 20px;
    color: $fourth-color;
    font-family: $lato;
  }
}
